body {
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul {
    height: 100%;
}

li {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem;
}