<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="grid" id="grid">
        <div class="card">
            <h3>Title</h3>
            <p>Description</p>
            <p>Date</p>
            <p>Category</p>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>